/* src/components/Navbar.css */
.navbar {
    background-color: #1e3a8a; /* Blue-900 */
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
    color: #38bdf8; /* Light Blue */
  }
  .details {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Pro{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}